.alert-danger-color {
  --mat-snack-bar-container-color: #e8402c;
}

.alert-warning-color {
  --mat-snack-bar-container-color: #f59805;
}

.alert-info-color {
  --mat-snack-bar-container-color: #040911;
}

.alert-success-color {
  --mat-snack-bar-container-color: #56c82b;
}
